<div class="full-cart container-fluid p">
    <div class="row p-v-xxl">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 bg-white r-5 m-t-xxl p cart-items-parent">
        <div class="m-b-sm f-s-28 b-b p-v-xs">
          <span class="">Your Cart</span>
          <button class="btn btn-default btn-lg toggle_cart pull-right m-r-lg" style="z-index: 9100;" title="Close">
            Close
          </button>
        </div>  
        <div class="cart-items-wrapper p-h-xs">
          <div class="bg-light light bs-light r-5 cart-item m-b-lg">
            <div class="panel-heading bg-light dark">
              <h3 class="panel-title">
                <img src="images/sur.png" height="40" alt="SurLaTable">
                Sur La Table
                <span class="panel-control pull-right m-t-sm">
                  <span class="label translucent p-v-xxs p-h-xxs">$125</span>
                </span>
              </h3>
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                  <tr class="bg-light">
                    <th>Item</th>
                    <th>Unit Price($)</th>
                    <th>Qty</th>
                    <th>Total($)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Rice</td>
                    <td>20</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Beans</td>
                    <td>40</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Red Onion</td>
                    <td>1</td>
                    <td>
                      <input type="number" value="5" style="width:70px;"/>
                      <b>bulbs</b>
                    </td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>              
            </div>
          </div>
          <div class="bg-light light bs-light r-5 cart-item m-b-lg">
            <div class="panel-heading bg-light dark">
              <h3 class="panel-title">
                <img src="images/sur.png" height="40" alt="SurLaTable">
                Sur La Table
                <span class="panel-control pull-right m-t-sm">
                  <span class="label translucent p-v-xxs p-h-xxs">$125</span>
                </span>
              </h3>
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                  <tr class="bg-light">
                    <th>Item</th>
                    <th>Unit Price($)</th>
                    <th>Qty</th>
                    <th>Total($)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Rice</td>
                    <td>20</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Beans</td>
                    <td>40</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Red Onion</td>
                    <td>1</td>
                    <td>
                      <input type="number" value="5" style="width:70px;"/>
                      <b>bulbs</b>
                    </td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>              
            </div>
          </div>
          <div class="bg-light light bs-light r-5 cart-item m-b-lg">
            <div class="panel-heading bg-light dark">
              <h3 class="panel-title">
                <img src="images/sur.png" height="40" alt="SurLaTable">
                Sur La Table
                <span class="panel-control pull-right m-t-sm">
                  <span class="label translucent p-v-xxs p-h-xxs">$125</span>
                </span>
              </h3>
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                  <tr class="bg-light">
                    <th>Item</th>
                    <th>Unit Price($)</th>
                    <th>Qty</th>
                    <th>Total($)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Rice</td>
                    <td>20</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Beans</td>
                    <td>40</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Red Onion</td>
                    <td>1</td>
                    <td>
                      <input type="number" value="5" style="width:70px;"/>
                      <b>bulbs</b>
                    </td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>              
            </div>
          </div>
          <div class="bg-light light bs-light r-5 cart-item m-b-lg">
            <div class="panel-heading bg-light dark">
              <h3 class="panel-title">
                <img src="images/sur.png" height="40" alt="SurLaTable">
                Sur La Table
                <span class="panel-control pull-right m-t-sm">
                  <span class="label translucent p-v-xxs p-h-xxs">$125</span>
                </span>
              </h3>
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                  <tr class="bg-light">
                    <th>Item</th>
                    <th>Unit Price($)</th>
                    <th>Qty</th>
                    <th>Total($)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Rice</td>
                    <td>20</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Beans</td>
                    <td>40</td>
                    <td>
                      <input type="number" value="2" style="width:70px;"/>
                      <b>bags</b>
                    </td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>Red Onion</td>
                    <td>1</td>
                    <td>
                      <input type="number" value="5" style="width:70px;"/>
                      <b>bulbs</b>
                    </td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 p-v-xs">
            <button class="btn btn-block btn-warning btn-lg">Checkout <span class="pull-right translucent p-v-xxs p-h-xxs">$500</span></button>
          </div>
        </div>
      </div>
    </div>

  </div>