<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>OjaExpress | Africa Ondemand Ethnic Grocery</title>
	<link rel="icon" href="../assets/images/logo.png">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../assets/plugins/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/datatables/css/jquery.datatables.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
	<div class="container-fluid">
		<div class="landing-div row">
			<nav class="col-md-12">
                 <img src="../assets/images/logoo.png" height="60px" width="auto">
			</nav>
			<div class="form-div col-md-4 col-md-offset-4 text-center">
                <form>
					<h3 class="text-warning"><img src="../assets/images/logo.png" height="60px" width="auto"> Oja Express</h3>
					<br>
					<fieldset>
                        <div>Get restaurants in your location with ease. Enter your zip code below</div>
						<div class="form-group">
							<input class="form-control text-warning" type="text" placeholder="Enter zip code">
							<input class="btn btn-block btn-warning" type="submit" value="SEARCH FOR STORES">
						</div>
					</fieldset>
				</form>
			</div>
            <!--<div class="landing-div-cover"></div>-->
		</div>
		<div>

		</div>
	</div>

	<script src="../assets/plugins/jquery/jquery.min.js"></script>
	<script src="../assets/plugins/jquery/jquery.easing.min.js"></script>
	<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="../assets/plugins/datatables/js/jquery.datatables.js"></script>
    <script src="../assets/js/ui.js"></script>
</body>

</html>