<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>OjaExpress | Africa Ondemand Ethnic Grocery</title>
	<link rel="icon" href="../assets/images/logo.png">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/line-icons/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/modern.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body class="home">
	<div class="container-fluid">
		<div class="landing-div row">
			<nav class="col-md-12 navbar navbar-default navbar-fixed-top transparent" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page_scroll no-p text-warning f-s-24 w-md">
						<img src="../assets/images/logo.png" height="60" alt="OjaExpress">
						OjaExpress
					</a>
				</div>
				<noscript>
					<style type="text/css">
						.load_cover{
							display: none;
						}
						noscript{
							background: white;
							position: fixed;
							top: 20%;
							width: 100%;
							height: 40%;
							text-align: center;
							left: 0;
							padding: 5% 10%;
							font-size: 20px;
							font-weight: bold;
							box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
						}
						.landing_div{
							opacity: 0.5;
						}
						body{
							background: #666;
						}
					</style>
					PLEASE
					<span class="text-danger">ENABLE JAVASCRIPT</span> IN YOUR BROWSER SETTINGSS
					OR <span class="text-danger">DISABLE SPEED MODE </span>
					ON GOOGLE CHROME(MOBILE) OR UC BROWSER(MOBILE)
					AND <a href="index.html">RELOAD</a> THE PAGE.
				</noscript>
				<ul class="nav pull-right navbar-collapse collapse home_links">
					<li><a href="dashboard.html" class="btn btn-warning swap_button r" target="login">Login</a></li>
				</ul>
			</nav>
			<div class="form-div col-md-4 col-md-offset-4 r f-s-17 m-b-xxl">
                <form class="row">
					<h3 class="text-warning text-center"><img src="../assets/images/logo.png" height="60" alt="OjaExpress"> Oja Express</h3>
					
					<!--zip code form-->
					<fieldset class="signup_1 col-md-12 text-center active">
                        <h2 class="text-success">We find stores closest to you</h3>
						
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Enter zip code">
						</div>
						
						<div class="form-group">
							<button class="btn btn-lg btn-block btn-warning swap_button" target="signup_2" type="button">SEARCH FOR STORES </button>
						</div>
						<div>
							Already have an account? <a href="#" class="swap_button" target="login">login</a>
						</div>

					</fieldset>
					
					<!--signup form-->
					<fieldset class="signup_2 col-md-12">

                        <h2 class="text-success text-center">Please enter your details</h2>
						<div class="form-group col-md-6">
							<input class="form-control" type="text" placeholder="Firstname">
						</div>
						<div class="form-group col-md-6">
							<input class="form-control" type="text" placeholder="Lastname">
						</div>
						<div class="form-group col-md-12">
							<input class="form-control" type="text" placeholder="Email Address">
						</div>
						<div class="form-group col-md-6">
							<input class="form-control" type="password" placeholder="Enter your password">
						</div>
						<div class="form-group col-md-6">
							<input class="form-control" type="password" placeholder="Confirm your password">
						</div>
						<div class="form-group col-md-12">
							<button class="btn btn-block btn-warning swap_button" target="signup_1" type="button">SUBMIT DETAILS</button>
						</div>
						<span class="col-md-12 f-s-14">
							By submitting this form, you agree to the <a href="#">Terms of Service</a> and <a>Privacy Policy</a> of <b class="label label-success">Oja Express</b>
						</span>
						<div class="col-md-12 text-center">
							<br>
							Already have an account? <a href="#" class="swap_button" target="login">login</a>
						</div>
						
					</fieldset>
					
					<!--login form-->
					<fieldset class="login col-md-12">
						
                        <h2 class="text-success text-center">Please enter your details</h2>

						<div class="form-group col-md-12">
							<input class="form-control" type="text" placeholder="Email Address">
						</div>
						<div class="form-group col-md-12">
							<input class="form-control" type="password" placeholder="Enter your password">
						</div>
						<div class="form-group col-md-12">
							<button class="btn btn-block btn-warning swap_button login_button" target="signup_1" type="button">LOGIN</button>
						</div>
						
						<br>
						<div class="form-group col-md-12 text-center">
							Forgot Password? <a href="#" class="swap_button" target="forgot_password">reset</a>
						</div>
						
						<div class="form-group col-md-12 text-center">
							New user? <button class="swap_button btn btn-small btn-success" target="signup_1">SIGN UP</button>
						 	<small class="f-s-17">or <b>Login</b> with </small>
							<a href="#" class="fa-stack fa-lg">
							  <i class="fa fa-square-o fa-stack-2x tw-icon"></i>
							  <i class="fa fa-twitter fa-stack-1x tw-icon"></i>
							</a>
							<small class="f-s-17">or</small>
							<a href="#" class="fa-stack fa-lg">
							  <i class="fa fa-square-o fa-stack-2x fb-icon"></i>
							  <i class="fa fa-facebook fa-stack-1x fb-icon"></i>
							</a>
						</div>

						
					</fieldset>

					<!--reset password form-->
					<fieldset class="forgot_password col-md-12 text-center">
                        <h2 class="text-success">Submit your email address</h2>
						
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Enter Email Address">
						</div>
						
						<div class="form-group">
							<button class="btn btn-lg btn-block btn-warning swap_button" target="signup_2" type="button">SEND LINK</button>
						</div>
						<div>
							Already have an account? <a href="#" class="swap_button" target="login">login</a>
						</div>

					</fieldset>
				</form>
			</div>
			<div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5 down_arrow text-center">
				<br>
				<br>
				<br>
				<a href="#about" class="btn btn-rounded btn-warning btn-lg tip m-t-xxl m-b-xxl more"  data-toggle="tooltip" data-placement="bottom" title="More">
					<i class="fa fa-angle-down fa-3x"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="well bg-white" id="about" style="height: 500px;">
				
			</div>
		</div>
	</div>

	<script src="../assets/plugins/jquery/jquery.min.js"></script>
	<script src="../assets/plugins/jquery/jquery.easing.min.js"></script>
	<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/functions.js"></script>
    <script src="../assets/js/ui.js"></script>
</body>

</html>