<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>OjaExpress | Africa Ondemand Ethnic Grocery</title>
	<link rel="icon" href="../assets/images/logo.png">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/line-icons/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/modern.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
	<div class="container-fluid bg-light light">
		<div class="landing-div row">
			<!--<nav class="col-md-12 navbar navbar-default navbar-fixed-top transparent" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page_scroll no-p text-warning f-s-24 w-md">
						<img src="../assets/images/logo.png" height="60" alt="OjaExpress">
						OjaExpress
					</a>
				</div>
				<noscript>
					<style type="text/css">
						.load_cover{
							display: none;
						}
						noscript{
							background: white;
							position: fixed;
							top: 20%;
							width: 100%;
							height: 40%;
							text-align: center;
							left: 0;
							padding: 5% 10%;
							font-size: 20px;
							font-weight: bold;
							box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
						}
						.landing_div{
							opacity: 0.5;
						}
						body{
							background: #666;
						}
					</style>
					PLEASE
					<span class="text-danger">ENABLE JAVASCRIPT</span> IN YOUR BROWSER SETTINGSS
					OR <span class="text-danger">DISABLE SPEED MODE </span>
					ON GOOGLE CHROME(MOBILE) OR UC BROWSER(MOBILE)
					AND <a href="index.html">RELOAD</a> THE PAGE.
				</noscript>
				<ul class="nav pull-right navbar-collapse collapse home_links">
					<li><a href="dashboard.html" class="btn btn-warning swap_button r" target="login">Login</a></li>
				</ul>
			</nav>-->
			<div class="form-div col-md-4 col-md-offset-4 r f-s-17 m-b-xxl">
                <form class="row">
					<h3 class="text-default text-center" onclick="location.href = 'index.html'"><img src="../assets/images/logo.png" height="60" alt="OjaExpress"> Oja Express</h3>
					
					<!--zip code form-->
					<fieldset class="signup_1 col-md-12 text-center active">
                        <h2 class="">Please enter the confirmation code sent to your mobile phone</h3>

                        <div class="form-group">
							<input class="form-control" type="text" placeholder="Enter code sent to you">
						</div>
						
						<div class="form-group text-right">
							<a href="#" class="m-r-lg" target="">go back to profile</a>
							<button class="btn btn-md btn-default" target="signup_2" type="button" disabled="disabled">
                                RESEND CODE  <i class="fa fa-rotate-right"></i>
                                <span class="countdown" secs="20"></span>
                            </button>
							<button class="btn btn-md btn-success" target="signup_2" type="button">CONFIRM NUMBER</button>
						</div>
						<div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<script src="../assets/plugins/jquery/jquery.min.js"></script>
	<script src="../assets/plugins/jquery/jquery.easing.min.js"></script>
	<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/functions.js"></script>
    <script src="../assets/js/ui.js"></script>
</body>

</html>