<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>OjaExpress | Africa Ondemand Ethnic Grocery</title>
	<link rel="icon" href="../assets/images/logo.png">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/line-icons/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/datatables/css/jquery.datatables.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/plugins/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/modern.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
	<div class="update_email modal fade p" role="dialog">
		<div class="modal-dialog modal-md">
            <!-- Modal content-->
			<div class="modal-content" style="color:#555;">
                <div class="modal-header bg-success light">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">Edit Email Address</h4>
                </div>
				<div class="modal-body text-left">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-12 f-s-16 text-center">
							<br>
                            <div class="form-group">
                                <input class="form-control" type="email" required="required" placeholder="Enter New Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" required="required" placeholder="Confirm New Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" required="required" placeholder="Confirm New Password">
                            </div>
 						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal"> DISMISS <i class="icon-close f-bold"></i></a>
					<a href="#" class="btn btn-success" >SAVE <i class="fa fa-check-circle f-bold"></i></a>
				</div>
			</div>
		</div>

	</div>
	<div class="update_password modal fade p" role="dialog">
		<div class="modal-dialog modal-md">
            <!-- Modal content-->
			<div class="modal-content" style="color:#555;">
                <div class="modal-header bg-success light">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">Edit Password</h4>
                </div>
				<div class="modal-body text-left">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-12 f-s-16 text-center">
							<br>
                            <div class="form-group">
                                <input class="form-control" type="password" required="required" placeholder="Enter New Password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" required="required" placeholder="Confirm New Password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" required="required" placeholder="Confirm New Password">
                            </div>
 						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal"> DISMISS <i class="icon-close f-bold"></i></a>
					<a href="#" class="btn btn-success" >SAVE <i class="fa fa-check-circle f-bold"></i></a>
				</div>
			</div>
		</div>

	</div>
	<div class="verify_phone modal fade p" role="dialog">
		<div class="modal-dialog modal-md">
            <!-- Modal content-->
			<div class="modal-content" style="color:#555;">
                <div class="modal-header bg-success light">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">Verify your phone number</h4>
                </div>
				<div class="modal-body text-left">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-12 f-s-16 text-center">
							<br>
							<fieldset class="signup_1 col-md-12 text-center active">
								<h2 class="">Please enter the confirmation code sent to your mobile phone</h3>

								<div class="form-group full-width">
									<input class="form-control r text-center" style="display: inline-block;" type="text" placeholder="123456">
								</div>
							</fieldset>
 						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal"> DISMISS <i class="icon-close f-bold"></i></a>
					<button class="btn btn-md btn-default m-b-md" target="signup_2" type="button" disabled="disabled">
						RESEND CODE  <i class="fa fa-rotate-right"></i>
						<span class="countdown" secs="20"></span>
					</button>
					<button class="btn btn-md btn-success m-b-md" target="signup_2" type="button">CONFIRM NUMBER</button>
				</div>
			</div>
		</div>

	</div>
	<div class="update_personal_details modal fade p" role="dialog">
		<div class="modal-dialog modal-md">
            <!-- Modal content-->
			<div class="modal-content" style="color:#555;">
                <div class="modal-header bg-success light">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">Edit Personal Details</h4>
                </div>
				<div class="modal-body text-left">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-12 f-s-16 text-center">
							<br>
                            <div class="form-group">
                                <input class="form-control" type="text" required="required" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" required="required" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" type="text" required="required" placeholder="Phone Number">
                                    <a href="phone_verification.html" class="input-group-addon"><i class="fa fa-circle text-success"></i> Verify</a>
                                </div>
                            </div>
 						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal"> DISMISS <i class="icon-close f-bold"></i></a>
					<a href="#" class="btn btn-success" >SAVE <i class="fa fa-check-circle f-bold"></i></a>
				</div>
			</div>
		</div>

	</div>
	
	<div class="input-group search-field bg-white">
		<input class="form-control btn-rounded text-lg input-addon-r search-input" type="text" placeholder="Search Oja Express...">
		<span class="input-group-addon bg-success dark"><i class="fa fa-search"></i></span>
		<span class="pull-right m-r-sm f-s-22 search_toggle" style="cursor: pointer;" title="close">
			x
		</span>
		<div class="search-results bg-white full-width p-v-xs r-5 f-s-18">
			<ul>
				<li class="no-hover b-b b-default text-muted">Popular Items</li>
				<li>item 1</li>
				<li>item 2</li>
				<li>item 3</li>
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-12 navbar navbar-default navbar-fixed-top b-b f-s-16" style="background:rgba(255,255,255,1);position: fixed; top:0;" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="._nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand page_scroll text-warning no-p text-fancy f-s-32">
						<img src="../assets/images/logo.png" height="50" alt="OjaExpress">
						OjaExpress
					</a>
				</div>
				<noscript>
					<style type="text/css">
						.load_cover{
							display: none;
						}
						noscript{
							background: white;
							position: fixed;
							top: 20%;
							width: 100%;
							height: 40%;
							text-align: center;
							left: 0;
							padding: 5% 10%;
							font-size: 20px;
							font-weight: bold;
							box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
						}
						.landing_div{
							opacity: 0.5;
						}
						body{
							background: #666;
						}
					</style>
					PLEASE
					<span class="text-danger">ENABLE JAVASCRIPT</span> IN YOUR BROWSER SETTINGSS
					OR <span class="text-danger">DISABLE SPEED MODE </span>
					ON GOOGLE CHROME(MOBILE) OR UC BROWSER(MOBILE)
					AND <a href="index.html">RELOAD</a> THE PAGE.
				</noscript>
				<div class="container-fluid _nav navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left text-md hidden-xs visible-sm">
						<li class="store_view">
							<a href="#" class="toggle_stores">
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										width="20px" height="13px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
									<g>
										<path class="svg" d="M0,208c0,29.781,20.438,54.594,48,61.75V480H16c-8.813,0-16,7.156-16,16s7.188,16,16,16h480c8.875,0,16-7.156,16-16
											s-7.125-16-16-16h-32V269.75c27.562-7.156,48-31.969,48-61.75v-16H0V208z M320,272c35.375,0,64-28.656,64-64
											c0,29.781,20.438,54.594,48,61.75V480H192V272c35.375,0,64-28.656,64-64C256,243.344,284.688,272,320,272z M176,269.75V480H80
											V269.75c27.563-7.156,48-31.969,48-61.75C128,237.781,148.438,262.594,176,269.75z M448,48H64L0,176h512L448,48z M135.188,83.563
											l-32,64c-1.438,2.813-4.25,4.438-7.188,4.438c-1.188,0-2.406-0.25-3.563-0.844c-3.938-1.969-5.563-6.781-3.563-10.719l32-64
											c2-3.938,6.781-5.531,10.719-3.594C135.563,74.813,137.125,79.625,135.188,83.563z M199.188,83.563l-32,64
											c-1.438,2.813-4.25,4.438-7.188,4.438c-1.188,0-2.406-0.25-3.563-0.844c-3.938-1.969-5.563-6.781-3.563-10.719l32-64
											c2-3.938,6.813-5.531,10.719-3.594C199.563,74.813,201.125,79.625,199.188,83.563z M264,144c0,4.438-3.562,8-8,8
											c-4.406,0-8-3.563-8-8V80c0-4.438,3.594-8,8-8c4.438,0,8,3.563,8,8V144z M355.875,151c-1.25,0.688-2.562,1-3.875,1
											c-2.812,0-5.562-1.5-7-4.156l-35-64c-2.125-3.875-0.688-8.75,3.188-10.844c3.813-2.125,8.75-0.75,10.875,3.156l35,64
											C361.125,144.031,359.75,148.906,355.875,151z M419.562,151.156C418.438,151.75,417.25,152,416,152
											c-2.938,0-5.75-1.625-7.125-4.438l-32-64c-2-3.938-0.375-8.75,3.562-10.719c3.875-1.969,8.75-0.375,10.75,3.594l32,64
											C425.125,144.375,423.562,149.188,419.562,151.156z M136,386.438v-36.875c-4.688-2.812-8-7.688-8-13.562c0-8.844,7.188-16,16-16
											c8.875,0,16,7.156,16,16c0,5.875-3.281,10.75-8,13.562v36.875c4.719,2.813,8,7.688,8,13.563c0,8.844-7.125,16-16,16
											c-8.813,0-16-7.156-16-16C128,394.125,131.313,389.25,136,386.438z M64,16c0-8.844,7.188-16,16-16h352c8.875,0,16,7.156,16,16
											s-7.125,16-16,16H80C71.188,32,64,24.844,64,16z M280.438,357.656l-11.312-11.313l45.25-45.25l11.312,11.313L280.438,357.656z
											M280.438,402.906l-11.312-11.313l90.5-90.5l11.312,11.313L280.438,402.906z M359.625,346.344l11.312,11.313l-45.25,45.25
											l-11.312-11.313L359.625,346.344z"/>
									</g>
								</svg>
								<span class="hidden-xs visible-sm">Store</span> 
								<i class="fa fa-angle-down"></i>
								<span class="badge badge-success pull-right f-s-10">new</span>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="store_view visible-xs hidden-sm">
							<a href="#" class="toggle_stores">
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										width="20px" height="13px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
									<g>
										<path class="svg" d="M0,208c0,29.781,20.438,54.594,48,61.75V480H16c-8.813,0-16,7.156-16,16s7.188,16,16,16h480c8.875,0,16-7.156,16-16
											s-7.125-16-16-16h-32V269.75c27.562-7.156,48-31.969,48-61.75v-16H0V208z M320,272c35.375,0,64-28.656,64-64
											c0,29.781,20.438,54.594,48,61.75V480H192V272c35.375,0,64-28.656,64-64C256,243.344,284.688,272,320,272z M176,269.75V480H80
											V269.75c27.563-7.156,48-31.969,48-61.75C128,237.781,148.438,262.594,176,269.75z M448,48H64L0,176h512L448,48z M135.188,83.563
											l-32,64c-1.438,2.813-4.25,4.438-7.188,4.438c-1.188,0-2.406-0.25-3.563-0.844c-3.938-1.969-5.563-6.781-3.563-10.719l32-64
											c2-3.938,6.781-5.531,10.719-3.594C135.563,74.813,137.125,79.625,135.188,83.563z M199.188,83.563l-32,64
											c-1.438,2.813-4.25,4.438-7.188,4.438c-1.188,0-2.406-0.25-3.563-0.844c-3.938-1.969-5.563-6.781-3.563-10.719l32-64
											c2-3.938,6.813-5.531,10.719-3.594C199.563,74.813,201.125,79.625,199.188,83.563z M264,144c0,4.438-3.562,8-8,8
											c-4.406,0-8-3.563-8-8V80c0-4.438,3.594-8,8-8c4.438,0,8,3.563,8,8V144z M355.875,151c-1.25,0.688-2.562,1-3.875,1
											c-2.812,0-5.562-1.5-7-4.156l-35-64c-2.125-3.875-0.688-8.75,3.188-10.844c3.813-2.125,8.75-0.75,10.875,3.156l35,64
											C361.125,144.031,359.75,148.906,355.875,151z M419.562,151.156C418.438,151.75,417.25,152,416,152
											c-2.938,0-5.75-1.625-7.125-4.438l-32-64c-2-3.938-0.375-8.75,3.562-10.719c3.875-1.969,8.75-0.375,10.75,3.594l32,64
											C425.125,144.375,423.562,149.188,419.562,151.156z M136,386.438v-36.875c-4.688-2.812-8-7.688-8-13.562c0-8.844,7.188-16,16-16
											c8.875,0,16,7.156,16,16c0,5.875-3.281,10.75-8,13.562v36.875c4.719,2.813,8,7.688,8,13.563c0,8.844-7.125,16-16,16
											c-8.813,0-16-7.156-16-16C128,394.125,131.313,389.25,136,386.438z M64,16c0-8.844,7.188-16,16-16h352c8.875,0,16,7.156,16,16
											s-7.125,16-16,16H80C71.188,32,64,24.844,64,16z M280.438,357.656l-11.312-11.313l45.25-45.25l11.312,11.313L280.438,357.656z
											M280.438,402.906l-11.312-11.313l90.5-90.5l11.312,11.313L280.438,402.906z M359.625,346.344l11.312,11.313l-45.25,45.25
											l-11.312-11.313L359.625,346.344z"/>
									</g>
								</svg>
								<span class="hidden-xs visible-sm">Stores</span>
								<i class="fa fa-angle-down"></i>
								<span class="badge badge-success pull-right f-s-10">new</span>
							</a>
						</li>
						<li class="hidden-xs visible-sm">
							<a href="#"><i class="fa fa-map-marker"></i> 990909</a>
						</li>
						<li class=" cart">
							<a href="#" class="dropdown-toggle toggle_cart " data-toggle="dropdown" data-placement="bottom" title="Cart">
								<i class="icon-basket-loaded bg-n"></i>
								<span class="hidden-xs visible-sm">
									Cart
								</span>
								<b class="fa fa-angle-down"></b>
								<span class="badge badge-success pull-right f-s-10">2</span>
							</a>
						</li>
						<li class="dropdown list">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-note bg-n"></i>
								<span class="hidden-xs visible-sm">
									List 
								</span>
								<b class="fa fa-angle-down"></b>
								<span class="badge badge-danger pull-right f-s-10">3</span>
							</a>
							<ul class="dropdown-menu">
								<li class="visible-xs hidden-sm text-center "><a class="f-bold text-warning" href="#">List</a></li>
								<li class="divider"></li>
								<li><a href="#">You have 3 items on your list</a></li>
								<li class="divider"></li>
								<li>
									<a>
										Item 1
										<span class="pull-right">
											<i class="fa fa-dollar"></i>20
											<i class="fa fa-trash text-danger tip del_order" data-toggle="tooltip" title="delete from list"></i>
										</span>
									</a>
								</li>
								<li>
									<a>
										Item 2
										<span class="pull-right">
											<i class="fa fa-dollar"></i>20
											<i class="fa fa-trash text-danger tip del_order" data-toggle="tooltip" title="delete from list"></i>
										</span>
									</a>
								</li>
								<li>
									<a>
										Item 3
										<span class="pull-right">
											<i class="fa fa-dollar"></i>20
											<i class="fa fa-trash text-danger tip del_order" data-toggle="tooltip" title="delete from list"></i>
										</span>
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a>
										Total
										<span class="pull-right">
											<i class="fa fa-dollar"></i>26
											<i class="fa fa-money text-success"></i>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle spin" data-toggle="dropdown">
								<i class="fa fa-cog spin-child"></i> 
								<span class="hidden-xs visible-sm">My Account</span>
								<b class="fa fa-angle-down"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="visible-xs hidden-sm text-center "><a class="f-bold text-warning" href="#">My Account</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="fa fa-map-marker text-default"></i>990909</a></li>
								<li><a href="profile.html"><i class="icon-user text-success"></i>Profile</a></li>
								<li><a href="#"><i class="fa fa-archive text-default"></i>Orders</a></li>
								<li><a href="#"><i class="fa fa-heart text-default"></i>Favorites</a></li>
								<li><a href="#"><i class="fa fa-info-circle text-info"></i>How it works</a></li>
								<li class="divider"></li>
								<li><a href="index.html"><i class="icon-close text-danger"></i>Logout</a></li>
							</ul>
						</li>
						<li>
							<a class="search_toggle"><i class="fa fa-search" title="search"></i></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	
	<div class="container-fluid" style="padding-top: 50px;">
		
		
		<div class="blanket">

		</div>

		<div class="row search_banner">
			<div class="col-md-4 col-md-offset-4 p">
			</div>
		</div>

		<div class="row bg-light">
			
			<nav class="col-md-12 navbar f-s-16 fixed-nav" role="navigation" data-spy="affix" data-offset-top="365">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="._nav2">
						<span class="fa fa-angle-down fa-3x"></span>
					</button>
					<a href="index.html" class="navbar-brand page_scroll no-p">
						<img src="../assets/images/sur.png" height="40" alt="SurLaTable">
						<span class="f-s-18" style="font-family: cursive; vertical-align: middle;">Sur La Table</span>
					</a>
				</div>
				<div class="container-fluid _nav2 navbar-right navbar-collapse collapse text-center bg-white">
					<ul class="nav navbar-nav text-md"> 
						<li>
							<a href="dashboard.html">Dashboard</a>
						</li>
						<li>
							<a href="profile.html">Profile</a>
						</li>
						<li>
							<a href="grocery_item_crud.html">Grocery item</a>
						</li>
					</ul>
					<ul class="nav navbar-nav">
					</ul>
				</div>
			</nav>
		</div>

		<div class="row bg-light p f-s-16" style="min-height: 100vh;">

			<div class="col-xs-12 col-md-10 col-md-offset-1 bg-white m-t-xxl" style="margin-top: 150px;">
				<h3 class=""> Account Details</h3>
                <hr class="dotted">
                <div class="row m-b-md m-t-lg">
                    <div class="col-md-3">
                        <span class="text-default">Email</span>
                    </div>
                    <div class="col-md-6">
                        <span class="">dami_dare2009@yahoo.com</span>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success pull-right" data-toggle="modal" data-target=".update_email" href="#">Edit</a>
                    </div>
                </div>
                <div class="row m-b-md">
                    <div class="col-md-3">
                        <span class="text-default">Password</span>
                    </div>
                    <div class="col-md-6">
                        <span class="">******</span>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success pull-right" data-toggle="modal" data-target=".update_password" href="#">Edit</a>
                    </div>
                </div>
			</div>

			<div class="col-xs-12 col-md-10 col-md-offset-1 bg-white">
				<h3 class="text"> Personal Details</h3>
                <hr class="dotted">
                <div class="row m-b-md m-t-lg">
                    <div class="col-md-3">
                        <span class="text-default">First Name</span>
                    </div>
                    <div class="col-md-6">
                        <span class="">Dami</span>
                    </div>
                </div>
                <div class="row m-b-lg m-t-md">
                    <div class="col-md-3">
                        <span class="text-default">Last Name</span>
                    </div>
                    <div class="col-md-6">
                        <span class="">Adek</span>
                    </div>
                </div>
                <div class="row m-b-lg m-t-md">
                    <div class="col-md-3">
                        <span class="text-default">Phone Number</span>
                    </div>
                    <div class="col-md-6">
                        <span class="">08091184260</span>
                        <span class="label label-default text-default"><i class="fa fa-circle text-danger"></i> Not Verified</span>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="pull-right" data-toggle="modal" data-target=".verify_phone">Verify Number</a>
                    </div>
                </div>
                <div class="row m-b-lg m-t-md">
                    <div class="col-md-2 col-md-offset-9">
                        <button class="btn btn-success m-b-md pull-right" data-toggle="modal" data-target=".update_personal_details">Edit</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="stores container-fluid p">
		<div class="row">
			<div class="col-md-2 col-md-offset-5 text-center">	
				<button class="btn btn-warning btn-rounded btn-lg toggle_stores tip"  data-toggle="tooltip" data-placement="bottom" title="Close">
					<i class="text- fa fa-angle-up fa-3x"></i>
				</button>
			</div>
		</div>

	</div>

	<script src="../assets/plugins/jquery/jquery.min.js"></script>
	<script src="../assets/plugins/jquery/jquery.easing.min.js"></script>
	<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/plugins/slider/jquery.slider.js"></script>
    <script src="../assets/js/functions.js"></script>
    <script src="../assets/js/ui.js"></script>
</body>

</html>