
/*text color schemes*/
.text-warning{
    color: $warning-color;
}
.text-success{
    color: $success-color;
}
.text-default {
    color: $default-color;
}

.text-primary {
    color: $primary-color;
}

.text-info {
    color: $info-color;
}

.text-danger {
    color: $danger-color;
}

/*icons*/
.icon-state-default {
    color: $default-color;
}

.icon-state-primary {
    color: $primary-color;
}

.icon-state-success {
    color: $success-color;
}

.icon-state-info {
    color: $info-color;
}

.icon-state-warning {
    color: $warning-color;
}

.icon-state-danger {
    color: $danger-color;
}