/*
homepage styles
*/
body{
    background: white;
}
body.home{
   background-image: url("../images/bg1.jpg");
   background-size: fill;
   background-position: 0px -100px;
   transition: background-position .4s;
   background-repeat: no-repeat;
   animation: panarom 35s infinite ease-in-out;
}

/*navbar*/
.navbar.transparent{
	background: none;
	box-shadow: none;
	transition: all .5s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.navbar.transparent .navbar-right > li > a:visited,
.navbar.transparent .navbar-right > li > a{
	opacity: .9;
	color: #F0AD4E;
    background: #fff;
    border: solid 1px #F0AD4E;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar.transparent .navbar-right > li > a:hover,
.navbar.transparent .navbar-right > li > a:focus{
	opacity: 1;
	background: #F0AD4E;
    color: #fff;
	transition: all .5s ease-in;
}
.navbar.transparent .navbar-right > li.active > a,
.navbar.transparent .navbar-right > li.active > a:hover{
	opacity: 1;
	background: transparent;
}
._banner{
    background: #FFF8D3;
}
._banner > img{
    height: 50px;
}

.landing-div{
   min-height: 100vh;
   background: rgba(0, 0, 0, .3);
}
.form-div{
    margin-top: 20vh;
    background: rgba(255,255,255,0.9);
    padding: 50px;
    padding-top: 10px;
    transition: all .4s;
}
.form-div input{
    height: 40px;
}
.form-div input.btn{
    font-weight: bold;
    font-size: 17px;
}
.form-div input.form-control{
    background:  rgba(255, 255, 255, 0.6);
    transition: all .4s;
    font-size: 15px;
}
.form-div input.form-control:focus{
    background:  #fff;
    transition: all .4s;
}
.form-div fieldset{
    position: absolute;
    top: 0;
    display: none;
}
.form-div fieldset.active{
    position: relative;
    display: block;
}

.text-warning{
    color: #F0AD4E;
}


/*social*/
.fb-icon{
	color: #08608E;
}
.tw-icon{
	color: #33A3DD;
}
.fa-stack:hover{
    transition: all .4s;
    transform: scale(1.1);
}

/*stores*/
.stores{
    position: absolute;
    z-index: 9000;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100%;
    background: rgba(255,255,255,0.8);
    width: 100vw;
    height: 100%;
    transition: all .7s;
}
.stores.open{
    top: 0;
}

/*cart*/
.cart li .del_order{
    opacity: .3;
    transition: all .3s;
}
.cart li:hover .del_order{
    opacity: .8;
    transition: all .3s;
}


@media(min-width: 768px){
    .navbar.transparent{
        padding-right: 100px;
        padding-left: 100px;
    }
    ._banner > img{
        height: 100px;
    }   
    .navbar.transparent .navbar-right > li > a{
        background: none;
    }
}

@keyframes panarom{
    0%{
        background-position-x: 0px; 
    }
    50%{
        background-position-x: -100px; 
    }
    100%{
        background-position-x: 0px; 
    }
}