  
    <div class="container-fluid">


        <div class="blanket">

        </div>

        <div class="row bg-light " style="min-height: 100vh;">


            <div class="col-xs-12 col-md-10 col-md-offset-1 m-t-md">
                <div class="alert alert-success alert-dismissible r-5" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>                    Hello, your profile is <b class="text-danger">30%</b> complete, please click <a>here</a> to update it.
                </div>

            </div>

            <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 m-t-md">
                <div class="btn btn-block btn-default r-5 p" role="alert">
                    <b>ADD NEW PRODUCT CATEGORY</b>
                </div>

            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 m-t-md">
                <div class="btn btn-block btn-success r-5 p" role="alert">
                    <b>ADD NEW PRODUCT</b>
                </div>

            </div>

            <div class="col-xs-12 col-md-10 col-md-offset-1 m-t-md">
                <h3 class="m-b-lg row">
                    <div class="col-xs-12 col-md-6 m-b-sm">
                        Top Picks
                        <a class="btn btn-default" title="Edit Name">
							<i class="fa fa-pencil"></i>
						</a>
                        <button class="label label-default r m-l-xxs p-v-xxs text-success">
							View all 25 items
							<i class="fa fa-angle-right f-bold"></i>
						</button>
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        <button class="btn btn-default text-danger">
							<span class="text-danger">
								<i class="fa fa-trash"></i>
								Delete Category
							</span>
						</button>
                        <button class="btn btn-success-inverted">
							<i class="fa fa-plus"></i>
							Add Item
						</button>
                    </div>
                </h3>
                <div class="panel panel-white">
                    <div class="panel-body no-p no-m carousel-wrapper">
                        <a href="" class="prev1 carousel-control left" class="fa fa-angle-left fa-3x"><span class="fa fa-angle-left"></span></a>
                        <a href="" class="next1 carousel-control right" class="fa fa-angle-right fa-3x"><span class="fa fa-angle-right"></span></a>

                        <ul class="_carousel carousel_1">
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit" data-toggle="modal" data-target=".edit_product"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">
                                        <span>Smoked Meat 4<span><br>
										<b class="f-s-16 text-warning">$25</b>
										(12 units in stock)
									</div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/sur.png"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/sur.png" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/sur.png"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/sur.png" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/sur.png"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/sur.png" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
							<li class="product-img p">
								<div class="product-hover">
									<a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
									<h4>Product Details</h4>
								</div>
								<img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

								<div class="pull-right f-s-18 icons">
									<i class="fa fa-edit text-primary" title="Edit"></i>
									<i class="fa fa-trash text-danger" title="Delete"></i>
								</div>
								<div class="full-width no-p m-t-sm">
									<div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1 m-t-md">
				<h3 class="m-b-lg row">
					<div class="col-xs-12 col-md-6 m-b-sm">
						Top Picks
						<a class="btn btn-default" title="Edit Name">
							<i class="fa fa-pencil"></i>
						</a>
						<button class="label label-default r m-l-xxs p-v-xxs text-success">
							View all 25 items
							<i class="fa fa-angle-right f-bold"></i>
						</button>
					</div>
					<div class="col-xs-12 col-md-6 text-right">
						<button class="btn btn-default text-danger">
							<span class="text-danger">
								<i class="fa fa-trash"></i>
								Delete Category
							</span>
                        </button>
                        <button class="btn btn-success-inverted">
							<i class="fa fa-plus"></i>
							Add Item
						</button>
                    </div>
                </h3>
                <div class="panel panel-white">
                    <div class="panel-body no-p no-m carousel-wrapper">
                        <a href="#" class="prev2 carousel-control left" class="fa fa-angle-left fa-3x"><span class="fa fa-angle-left"></span></a>
                        <a href="#" class="next2 carousel-control right" class="fa fa-angle-right fa-3x"><span class="fa fa-angle-right"></span></a>

                        <ul class="_carousel carousel_2">
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 m-t-md">
                <h3 class="m-b-lg row">
                    <div class="col-xs-12 col-md-6">
                        Featured Products
                        <a class="btn btn-default" title="Edit Name">
							<i class="fa fa-pencil"></i>
						</a>
                        <button class="label label-default r m-l-xxs p-v-xxs text-success">
							View all 100 items
							<i class="fa fa-angle-right f-bold"></i>
						</button>
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        <button class="btn btn-default text-danger">
							<span class="text-danger">
								<i class="fa fa-trash"></i>
								Delete Category
							</span>
						</button>
                                            <button class="btn btn-success-inverted">
							<i class="fa fa-plus"></i>
							Add Item
						</button>
                    </div>
                </h3>
                <div class="panel panel-white">
                    <div class="panel-body no-p no-m carousel-wrapper">
                        <div class="text-center">
                            <h2 class="p-v-xxl">
                                No product in this category yet, please
                                <u><a href="#">add</a></u> products
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 m-t-md">
                <h3 class="m-b-lg row">
                    <div class="col-xs-12 col-md-6 m-b-sm">
                        Spices
                        <a class="btn btn-default" title="Edit Name">
							<i class="fa fa-pencil"></i>
						</a>
                                            <button class="label label-default r m-l-xxs p-v-xxs text-success">
							View all 25 items
							<i class="fa fa-angle-right f-bold"></i>
						</button>
                                        </div>
                                        <div class="col-xs-12 col-md-6 text-right">
                                            <button class="btn btn-default text-danger">
							<span class="text-danger">
								<i class="fa fa-trash"></i>
								Delete Category
							</span>
						</button>
                                            <button class="btn btn-success-inverted">
							<i class="fa fa-plus"></i>
							Add Item
						</button>
                    </div>
                </h3>
                <div class="panel panel-white">
                    <div class="panel-body no-p no-m carousel-wrapper">
                        <a href="#" class="prev3 carousel-control left" class="fa fa-angle-left fa-3x"><span class="fa fa-angle-left"></span></a>
                        <a href="#" class="next3 carousel-control right" class="fa fa-angle-right fa-3x"><span class="fa fa-angle-right"></span></a>

                        <ul class="_carousel carousel_3">
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/sur.png"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/sur.png" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                            <li class="product-img p">
                                <div class="product-hover">
                                    <a href="images/smoked-goat_1.jpg"><i class="fa fa-search"></i></a>
                                    <h4>Product Details</h4>
                                </div>
                                <img src="images/smoked-goat_1.jpg" style="width: 200px;" alt="">

                                <div class="pull-right f-s-18 icons">
                                    <i class="fa fa-edit text-primary" title="Edit"></i>
                                    <i class="fa fa-trash text-danger" title="Delete"></i>
                                </div>
                                <div class="full-width no-p m-t-sm">
                                    <div class="text-left f-s-18">Smoked Meat 4<br><b class="f-s-16 text-warning">$25</b></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                    </div>
                </div>

    <div class="stores container-fluid p">
        <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
                <button class="btn btn-warning btn-rounded btn-lg toggle_stores tip" data-toggle="tooltip" data-placement="bottom" title="Close">
                    <i class="text- fa fa-angle-up fa-3x"></i>
				</button>
                        </div>
                    </div>

                </div>

                <!--cart-->
                <div class="full-cart container-fluid p">
                    <div class="row p-v-xxl">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 bg-white r-5 m-t-xxl no-p cart-items-parent">
                            <div class="m-b-sm f-s-28 b-b p">
                                <span class="">Your Cart</span>
                                <button class="btn btn-default btn-lg toggle_cart pull-right m-r-lg" style="z-index: 9100;" title="Close">
						Close
					</button>
                            </div>
                            <div class="cart-items-wrapper p-h-xs">
                                <div class="bg-light light bs-light r-5 cart-item m-b-lg">
                                    <div class="panel-heading bg-light dark">
                                        <h3 class="panel-title">
                                            <img src="images/sur.png" height="40" alt="SurLaTable"> Sur La Table
                                            <span class="panel-control pull-right m-t-sm">
									<span class="label label-success p-v-xxs p-h-xxs">$125</span>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="panel-body table-responsive">
                                        <table class="table table-hover table-condensed table-bordered">
                                            <thead>
                                                <tr class="bg-light">
                                                    <th>Item</th>
                                                    <th>Unit Price($)</th>
                                                    <th>Qty</th>
                                                    <th>Total($)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Rice</td>
                                                    <td>20</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>40</td>
                                                </tr>
                                                <tr>
                                                    <td>Beans</td>
                                                    <td>40</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>80</td>
                                                </tr>
                                                <tr>
                                                    <td>Red Onion</td>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="number" value="5" style="width:70px;" />
                                                        <b>bulbs</b>
                                                    </td>
                                                    <td>5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="bg-light light bs-light r-5 cart-item m-b-lg">
                                    <div class="panel-heading bg-light dark">
                                        <h3 class="panel-title">
                                            <img src="images/sur.png" height="40" alt="SurLaTable"> Sur La Table
                                            <span class="panel-control pull-right m-t-sm">
									<span class="label label-success p-v-xxs p-h-xxs">$125</span>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="panel-body table-responsive">
                                        <table class="table table-hover table-condensed table-bordered">
                                            <thead>
                                                <tr class="bg-light">
                                                    <th>Item</th>
                                                    <th>Unit Price($)</th>
                                                    <th>Qty</th>
                                                    <th>Total($)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Rice</td>
                                                    <td>20</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>40</td>
                                                </tr>
                                                <tr>
                                                    <td>Beans</td>
                                                    <td>40</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>80</td>
                                                </tr>
                                                <tr>
                                                    <td>Red Onion</td>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="number" value="5" style="width:70px;" />
                                                        <b>bulbs</b>
                                                    </td>
                                                    <td>5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="bg-light light bs-light r-5 cart-item m-b-lg">
                                    <div class="panel-heading bg-light dark">
                                        <h3 class="panel-title">
                                            <img src="images/sur.png" height="40" alt="SurLaTable"> Sur La Table
                                            <span class="panel-control pull-right m-t-sm">
									<span class="label label-success p-v-xxs p-h-xxs">$125</span>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="panel-body table-responsive">
                                        <table class="table table-hover table-condensed table-bordered">
                                            <thead>
                                                <tr class="bg-light">
                                                    <th>Item</th>
                                                    <th>Unit Price($)</th>
                                                    <th>Qty</th>
                                                    <th>Total($)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Rice</td>
                                                    <td>20</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>40</td>
                                                </tr>
                                                <tr>
                                                    <td>Beans</td>
                                                    <td>40</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>80</td>
                                                </tr>
                                                <tr>
                                                    <td>Red Onion</td>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="number" value="5" style="width:70px;" />
                                                        <b>bulbs</b>
                                                    </td>
                                                    <td>5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="bg-light light bs-light r-5 cart-item m-b-lg">
                                    <div class="panel-heading bg-light dark">
                                        <h3 class="panel-title">
                                            <img src="images/sur.png" height="40" alt="SurLaTable"> Sur La Table
                                            <span class="panel-control pull-right m-t-sm">
									<span class="label label-success p-v-xxs p-h-xxs">$125</span>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="panel-body table-responsive">
                                        <table class="table table-hover table-condensed table-bordered">
                                            <thead>
                                                <tr class="bg-light">
                                                    <th>Item</th>
                                                    <th>Unit Price($)</th>
                                                    <th>Qty</th>
                                                    <th>Total($)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Rice</td>
                                                    <td>20</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>40</td>
                                                </tr>
                                                <tr>
                                                    <td>Beans</td>
                                                    <td>40</td>
                                                    <td>
                                                        <input type="number" value="2" style="width:70px;" />
                                                        <b>bags</b>
                                                    </td>
                                                    <td>80</td>
                                                </tr>
                                                <tr>
                                                    <td>Red Onion</td>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="number" value="5" style="width:70px;" />
                                                        <b>bulbs</b>
                                                    </td>
                                                    <td>5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 p-v-xs">
                                    <button class="btn btn-block btn-warning btn-lg">Checkout <span class="pull-right translucent p-v-xxs p-h-xxs">$500</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--edit product-->
                <div class="edit_product modal fade container-fluid" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content" style="color:#555;">
                            <div class="modal-header bg-success light">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-success">Edit Email Address</h4>
                            </div>
                            <div class="modal-body text-left">
                            </div>
                            <div class="modal-footer">
                                <div class="btn btn-default" data-dismiss="modal"> DISMISS <i class="icon-close f-bold"></i></div>
                                <button class="btn btn-success">SAVE CHANGES <i class="fa fa-check f-bold"></i></div>
				</div>
			</div>
		</div>

	</div>

	<!--welcome email template-->
	<div class="email_template modal fade container-fluid p" role="dialog">
		<div class="modal-dialog modal-md">
            <!-- Modal content-->
			<div class="modal-content" style="color:#555;">
				<div class="modal-body text-left">
					<div class="row">
						<div class="col-md-12 f-s-28 m-t-n-xxs text-center text-fancy">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
                                <img src="images/logo.png" height="100px"> OjaExpress
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="height: 120px;font-family: cursive;background: rgba(0,0,0,0.4);background: url('images/bg_.jpg'); background-size: 120%; background-position: -70px; background-repeat: no-repeat;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 f-s-16">
                                <br>
                                <b class="text-success">Hello Adek,</b><br> We at <a href="index.html" class="f-bold text-fancy f-s-24">OjaExpress</a>                                are happy to have you with us. We are here to help you find your grocery items easily.
                                <br>
                                <br>
                                <b class="text-center" style="display: block;">
								We have exciting new offers for you. 
								Please confirm your email address by clicking the button below
								or copy the link and paste in your browser:
							</b>
                                <a href="#">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod.
							</a>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal"> DISMISS <i class="icon-close f-bold"></i></a>
                        <a href="index.html" target="_blank" class="btn btn-success">CONFIRM EMAIL <i class="fa fa-angle-double-right f-bold"></i></a>
                    </div>
                </div>
            </div>

        </div>