<!--signup form-->
<div class="form-div col-md-4 col-md-offset-4 r f-s-17 m-b-xxl">
  <form class="row">
    <h3 class=" full-width text-center text-fancy f-s-32">
      <img src="images/logo.png" height="60" alt="OjaExpress"> 
      OjaExpress
    </h3>

    <fieldset class="signup_2 col-md-12">
      <h2 class="text-center">Please enter your details</h2>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" placeholder="Firstname">
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" placeholder="Lastname">
      </div>
      <div class="form-group col-md-12">
        <input class="form-control" type="text" placeholder="Email Address">
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="password" placeholder="Enter your password">
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="password" placeholder="Confirm your password">
      </div>
      <div class="form-group col-md-12">
        <button class="btn btn-block btn-success swap_button" ng-click="go('/')">SUBMIT DETAILS</button>
      </div>
      <span class="col-md-12 f-s-14">
        By submitting this form, you agree to the <a href="#!/terms">Terms of Service</a> and <a href="#!/privacy-policy">Privacy Policy</a> of <b class="label label-warning">Oja Express</b>
      </span>
      <div class="col-md-12 text-center">
        <br>
        Already have an account? <a href="#!/login">login</a>
      </div>
      
    </fieldset>
  </form>
</div>
